# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini

# Arquivos de dados (opcional - evite subir bases pesadas)
*.csv
*.xlsx